*** General ***

owner    = Avinash Duduskar
contact  = strykar@hotmail.com

imgcache = /opt/smokeping/htdocs/img
imgurl   = img
datadir  = /opt/smokeping/htdocs/data
piddir  = /opt/smokeping/htdocs/var
cgiurl   = http://192.168.1.44/smokeping/smokeping.fcgi
smokemail = /opt/smokeping/etc/smokemail
tmail = /opt/smokeping/etc/tmail

syslogfacility = local0

*** Alerts ***
to = strykar@hotmail.com
from = strykar@hotmail.com

*** Database ***

step     = 300
pings    = 20

# consfn mrhb steps total

AVERAGE  0.5   1  1008
AVERAGE  0.5  12  4320
    MIN  0.5  12  4320
    MAX  0.5  12  4320
AVERAGE  0.5 144   720
    MAX  0.5 144   720
    MIN  0.5 144   720

*** Presentation ***

template = /opt/smokeping/etc/basepage.html

+ charts

menu = Charts
title = The most interesting destinations

++ stddev
sorter = StdDev(entries=>4)
title = Top Standard Deviation
menu = Std Deviation
format = Standard Deviation %f

++ max
sorter = Max(entries=>5)
title = Top Max Roundtrip Time
menu = by Max
format = Max Roundtrip Time %f seconds

++ loss
sorter = Loss(entries=>5)
title = Top Packet Loss
menu = Loss
format = Packets Lost %f

++ median
sorter = Median(entries=>5)
title = Top Median Roundtrip Time
menu = by Median
format = Median RTT %f seconds

+ overview 

width = 600
height = 50
range = 10h

+ detail

width = 600
height = 200
unison_tolerance = 2

"Last 3 Hours"    3h
"Last 30 Hours"   30h
"Last 10 Days"    10d
"Last 400 Days"   400d

*** Probes ***
 + FPing
 binary = /usr/bin/fping
 packetsize = 1000

 +DNS
 binary = /usr/bin/dig # mandatory
 forks = 5
 offset = 50%
 step = 300
 timeout = 15

 
+ EchoPingHttp
 pings = 5
# url = /test-url

+ EchoPingHttps
 pings = 5
# url = /test-url

+EchoPingDNS

 binary = /usr/bin/echoping
 forks = 5
 offset = 50%
 step = 300
 # The following variables can be overridden in each target section
 dns_request = a.root-servers.net # mandatory
 dns_tcp = yes
 dns_type = A
# extraopts = -some-letter-the-author-did-not-think-of
 ipversion = 4
 pings = 5
 plugin = /usr/lib/echoping/dns.so
# pluginargs = -p plugin_specific_arg
 priority = 6
 timeout = 1
 tos = 0xa0
 waittime = 1


#+EchoPingDNS6

# binary = /usr/local/bin/echoping
# forks = 5
# offset = 50%
# step = 300

 # The following variables can be overridden in each target section
# dns_request = ipv6.google.com # mandatory
# dns_tcp = yes
# dns_type = AAAA
# extraopts = -some-letter-the-author-did-not-think-of
# ipversion = 6
# pings = 5
# plugin = /path/to/dns.so
# pluginargs = -p plugin_specific_arg
# priority = 6
# timeout = 1
# tos = 0xa0
# waittime = 1



+AnotherDNS
 forks = 5
 offset = 50%
 step = 300
 # The following variables can be overridden in each target section
 # lookup = wrtpoona.in
 mininterval = 0.5
 pings = 5
 port = 53
# recordtype = A
 require_answers = 0
 require_noerror = 0
 timeout = 5
# probe = AnotherDNS # if this should be the default probe



*** Slaves ***
secrets=/opt/smokeping/etc/smokeping_secrets



*** Targets ***
 probe = FPing
 menu = Top
 title = Network Latency Grapher
 remark = Welcome to this SmokePing website.
 
 + network
 menu = Net latency
 title = TF2/CS servers RTT (ICMP 56 bytes)
 
  ++ myhost1
 title = Neitono no Shana 1+2
 probe = FPing
 host = 103.241.61.30
  ++ myhost2
 title = Neitono no Shana 3 
 probe = FPing
 host = tf-1.shana.sg
 ++ myhost3
 title = Neitono no Shana 4 
 probe = FPing 
 host = tf-2.shana.sg
  ++ myhost4
 title = R890 24x7 NC
 probe = FPing
 host = 116.251.223.56

 
 + services
 menu = Service latency
 title = Service latency (DNS, HTTP)
 
 ++ DNS
 probe = EchoPingDNS
 menu = DNS latency
 title = Service latency (DNS)
 
 +++ dns1
 host = 59.144.127.16
 title = ABTS-MUM-MGMT-016.127.144.59.airtelbroadband.in

 +++ dns2
 host = 59.144.127.17
 title = ABTS-MUM-MGMT-017.127.144.59.airtelbroadband.in

 +++ dns3
 host = google-public-dns-a.google.com
 title = google-public-dns-a.google.com

 +++ dns4
 host = google-public-dns-b.google.com
 title = google-public-dns-b.google.com

 +++ dns5
 host = c.resolvers.level3.net
 title = c.resolvers.level3.net

 +++ dns6
 host = b.resolvers.level3.net
 title = b.resolvers.level3.net

+++ dns7
 host = i.root-servers.net
 title = i.root-servers.net

+++ dns8
 host = j.root-servers.net
 title = j.root-servers.net

+++ dns9
 host = k.root-servers.net
 title = k.root-servers.net

#+++ MultiHostPCs
#menu = MultiHost DNS
#title = Overall DNS Performance
#host = /services/dns1 /services/dns2 /services/dns3 /services/dns4 /services/dns5 /services/dns6 /services/dns7 /services/dns8 /services/dns9


 ++ HTTP
 menu = HTTP latency
 title = Service latency (HTTP)
 
 +++ www1
 title = india.gov.in / HTTP 
 probe = EchoPingHttp 
 host = india.gov.in
 
 +++ www2
 title = nixi.in / HTTP
 probe = EchoPingHttp
 host = nixi.in
 url = /en

 +++ www3
 title = www.google.co.in / HTTPS
 probe = EchoPingHttps 
 host = www.google.co.in

 +++ www4
 title = www.airtel.in / HTTPS
 probe = EchoPingHttps 
 host = www.airtel.in

 +++ www5
 title = www.registry.in / HTTPS
 probe = EchoPingHttps 
 host = www.registry.in


+ mytarget
 probe = AnotherDNS
 host = ns1.afraid.org
 title = ns1.afraid.org
 lookup = nibm6.wrtpoona.in
 mininterval = 0.5
 pings = 5
 port = 53
# ipversion = 6
 recordtype = AAAA
 require_answers = 0
 require_noerror = 0
 timeout = 7


+ mytarget2 
 probe = AnotherDNS
 host = ns3.afraid.org
 title = nibm.wrtpoona.in
 lookup = nibm.wrtpoona.in
 mininterval = 0.5
 pings = 5
 port = 53
 recordtype = A
 require_answers = 0
 require_noerror = 0
 timeout = 7

+ mytarget3
 probe = DNS
 host = nibm.wrtpoona.in
 lookup = nibm.wrtpoona.in
 pings = 5
 server = ns1.afraid.org

+ mytarget4
 probe = DNS
 host = nibm6.wrtpoona.in
 lookup = nibm6.wrtpoona.in
 pings = 5
 server = evergreen.v6.afraid.org


####### Multi Targe ########
#

+ MultiTarget 

menu = MultiTargetDNS-TF2
title = Multi Target Graph of Root Server Latency  

++ RootServerAvailability 

menu = root-servers
title = root-servers
probe = FPing
host =  198.41.0.4 \
        192.228.79.201 \
        192.33.4.12 \
        199.7.91.13 \
	192.203.230.10 \
	192.5.5.241 \
	192.112.36.4 \
	128.63.2.53 \
	i.root-servers.net \
	j.root-servers.net \
	k.root-servers.net \
	199.7.83.42 \
	202.12.27.33
#alerts = bigloss,rttdetect

++ TF2ServerAvailability

menu = TF2Servers
title = TF2Servers
probe = FPing
host =  103.241.61.30 \
	tf-1.shana.sg \
	tf-2.shana.sg \
	116.251.223.56
